<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Yashas">
<listeners>
  <listener class-name="com.company.framework.listeners.TestListener"/>
</listeners>
  <test thread-count="5" name="Test">
    <classes>
     <!----> <class name="com.company.tests.VerifyDeleteProfileImage"/>
      <class name="com.company.tests.VerifyTheProfilefunctionality"/>
      <class name="com.company.tests.VerifyTheRecentlyViewed"/>
      <class name="com.company.tests.LoginToZomato"/>
      <class name="com.company.tests.VerifyUploadImage"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Yashas -->
